* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RO Sans", "Calibri", sans-serif;
}

/* header */

.logo-img {
  padding-left: 45%;
  margin-top: -30px;
  margin-bottom: -20px;

}

.navbar {
  background-color: #01689B;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
  z-index: 3;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #01689B;
}

.navbar li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

.navbar li a:hover,
.navbar .menu-btn:hover .navbar li a {
  text-decoration: underline;
}

.navbar-left {
  display: block;
  float: left;
  font-size: 1.4em;
  padding: 16px 20px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 28px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 8px;
}

.navbar .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked~.menu {
  max-height: 380px;
}

.navbar .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

a {
  color: #000;
}

.search-input {
  background-color: #01689B;
  width: 100%;
  padding: 10px;
  display: flex;
}

.search-box {
  width: 88%;
  margin-top: -15px;
  margin-bottom: 10px;
}

.navbar ul li:last-child {
  margin-bottom: 20px;
}

.search-input a {
  width: 10%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding-left: 4px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.fa-search {
  color: white !important;
}


.search-input input {
  font-size: 1.125em;
  padding: 12px;
  width: 100%;
}

.showcase {
  background-image: url("/img/showcase.jpg");
  background-position: center center;
  background-size: cover;

  height: 325px;
}

.showcase h2 {
  font-weight: 500;
  font-size: 1.3em;
}

.showcase-flex-left ul {
  list-style: none;
  margin-top: 15px;
}

.showcase-flex-left {
  padding: 10px 15px;
  background-color: white;
  position: relative;
  top: 20px;
  width: 95%;
  margin: auto;
}

.showcase-list a {
  line-height: 1.625rem;
  text-decoration: none;
  color: #01689B;
  font-weight: bold;
  font-size: 1.15em;
}

.showcase-list li {
  margin-bottom: 8px;
}

.showcase-list li a:hover {
  text-decoration: underline;
}

.showcase i {
  color: #01689B;
  font-size: 0.8em;
  margin-right: 5px;
}

/*Branches*/

.article-branches {
  background-color: #f3f3f3;

}

.container {
  width: 95%;
  margin: auto;
  padding: 60px 0;
}

h3 {
  color: #01689B;
  font-size: 1.3525em;
  margin-bottom: 3px;
  font-weight: 550;
}

.branches {
  margin-bottom: 20px;
}

.branches:hover h3,
.card:hover h3 {
  text-decoration: underline;
}

.branches:hover,
.card:hover {
  cursor: pointer;
}

p {
  line-height: 1.4;
  font-size: 1.05em;
}

/*news*/

.news {
  margin-top: 40px;
}

.card-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid lightgrey;
  padding-top: 30px;
}

.card {
  width: 47%;
  margin-top: 40px;
}

.card img {
  width: 100%;
  margin-bottom: 10px;
}

.card h3 {
  font-weight: 400;
  font-size: 1.75em;
  margin-bottom: 10px;
}

.date {
  font-weight: bold;
  margin: 10px 0;
}

.news-head {
  width: 100%;
  font-size: 1.7em;
  margin: -20px 0;
}

.more-news {
  color: #01689B;
  width: 100%;
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: 600;
}

/*Banner*/

.banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.banner-item {
  width: 47%;
  text-align: center;
  border: 3px solid #CBD2E3;
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.banner-item h1 {
  font-size: 5vw;
  color: #1B5E84;
}

.banner-item h1:last-child {
  color: #a90061;
}

.banner-item p {
  font-size: 4vw;
  line-height: 1.3;
}

.banner-item:hover {
  cursor: pointer;
}

.tel {
  font-size: 7.5vw !important;
  font-weight: 600;
  color: #016898;
  margin-top: -10px;
}

.banner-article {
  margin-bottom: 50px;
}

/*Footer*/
footer {
  background-color: #01689B;
}

.footer-container {
  width: 95%;
  margin: auto;
  padding: 35px 10px;

}

.footer-text {
  font-style: italic;
  font-size: 1.4em;
  color: white;
  margin-bottom: 30px;
}

.footer-text p {
  font-family: serif;
}

.footer-list {
  display: flex;
  justify-content: left;
  color: white;
}

.list-one,
.list-two {
  width: 48%;
}

.footer-list ul {
  list-style: none;
  font-size: 1.1em;

}

.footer-list a {
  text-decoration: none;
  line-height: 1.6;
  color: white;
  font-weight: 100;
}

.footer-list a:hover {
  text-decoration: underline;
}

.list-head {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.languages {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.languages a {
  text-decoration: none;
  border: 2px solid lightgrey;
  padding: 5px 10px;
  margin: 5px;
  color: #016898;
}

.languages a:active {
  color: black;
  font-weight: bold;
}


@media screen and (min-width: 768px) {

  /*header*/
  .logo-img {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar {
    background-color: #01689B;
    display: flex;
    justify-content: space-between;
    height: 63px;
  }

  .navbar-left {
    padding-bottom: 0;
  }

  .navbar li {
    float: left;
    font-size: 1.2rem;
  }

  .navbar li a {
    padding: 20px 10px;
    border: none;
  }

  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .navbar .menu-icon {
    display: none;
  }

  /*Showcase*/

  .showcase {
    display: flex;
    flex-direction: row-reverse;
    padding: 25px 15px 50px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .search-input {
    width: 40%;
    height: 60px;
    background: transparent;
  }

  .showcase-flex-left {
    margin: 0;
    width: 40%;
    line-height: 1;
    margin-top: -20px;
  }

  /*Branches*/
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .branches {
    width: 48%;
  }

  /*Footer*/

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-text {
    width: 30%;
  }

  .footer-list {
    width: 45%;
  }

  .list-head {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 992px) {

  /*Showcase*/
  .showcase-flex-left {
    width: 35%;
  }

  /*Branches, News*/
  .branches,
  .card {
    width: 32%;
  }

  .branches h3 {
    font-size: 1.55em;
  }

  .branches p {
    font-size: 1.1em;
  }

  /*Footer*/
  .banner {
    justify-content: left;
  }

  .banner-item {
    width: 32%;
    margin-right: 2%;
  }

  .banner-item h1,
  .banner-item p {
    font-size: 1.8em;
  }

  .tel {
    font-size: 4vw !important
  }

}

@media screen and (min-width: 1196px) {


  /*Navbar*/

  .navbar {
    padding-left: 60px;
    padding-right: 60px;
  }

  .navbar li a {
    margin-right: 20px;
  }

  /*Branches*/
  .container,
  .card-container {
    width: 90%;
  }

  .branches {
    width: 23%;
  }

  /*Showcase*/

  .showcase {
    padding-right: 70px;
    padding-left: 50px;
  }

  .showcase-flex-left {
    padding: 30px;
  }

  .search-input {
    width: 30%;
  }

  /*Branches*/

  .branches h3 {
    font-size: 1.75em;
  }

  .branches p {
    font-size: 1.2em;
  }

  /*Banner*/

  .banner-item h1 {
    font-size: 3em;
  }

  /*Footer*/

  .footer-container {
    width: 90%;
  }
}